@charset "UTF-8";

/* --------------------------------------------------
    base
-------------------------------------------------- */
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
html, body {width: 100%;min-height: 100%;}
html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow-x: hidden;
  overflow-y: scroll;
}
body{width:100%;padding:0;margin:0;}
/* ---------------------
	top animation
--------------------- */
/* #top_main */
/*#top_main {
	position: relative;
	overflow: hidden;
	height: 100vh;
	background: #e2f8ff;
}*/
#top_main {
	position:relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  --height: 20px;
  --color1: #e0d0d0;
  --color2:#888;
  --delay:0s;
  perspective: 2000px;
  background:#00ffff;
}
#top_main * {transform-style: preserve-3d;}
#top_main *:before, #top_main *:after {transform-style: preserve-3d;}
.background{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: auto;
	min-width: 500%;
	height: auto;
	min-height: 500%;
	-webkit-transform: translate3d(-50%, -50%, 0) scale(.2);
	        transform: translate3d(-50%, -50%, 0) scale(.2);
}
#top_main .wrap {
  width:100%;
  max-width: 360px;
  height:100%;
  max-height:360px;
  position: relative;
  transform: translateY(60px) translateX(-25px) rotateX(75deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#top_main .wrap .grid {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: grid;
  grid-template-columns: repeat(8, 10%);
  grid-template-rows: repeat(8, 10%);
  transform: rotate(-135deg);
  box-shadow: 0 0 0 100vw rgba(0,0,0,1), inset 0 0 0 100vw rgba(0,0,0,1);/*フィールドカラー*/
	border-radius:20%;
}
#top_main .wrap .grid:before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 50vw;
  background: #fff;
  top: 100%;
  right: 0;
  transform-origin: top;
  transform: rotateX(90.005deg);
  display: none;
}
#top_main .wrap .grid.slide .cell {
  transform: translateZ(0) !important;
  transition-delay: 0s;
  background: #333;/*セルカラー*/
  box-shadow: inset 0 0 0 1px #fff;
}
#top_main .wrap .grid .cell {
  box-shadow: inherit;
  transform: scale(0.75) translateY(calc(-100% - var(--shift))) translateX(calc(-100% + var(--shift))) translateZ(var(--height));
  background: #888;/*トップカラー*/
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  transition: 1.8s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  grid-row-end: span var(--size);
  grid-column-end: span var(--size);
  will-change: transform;
  min-height: 75px;
}
@keyframes light {
	0%{background:#888;}
	30%{background:#ffff00;}
	60%{background:#888;}
	100%{background:#ffff00;}
}
.wrap .grid .cell:nth-of-type(1) {transition-delay: 0.0166666667s;}
.wrap .grid .cell:nth-of-type(2) {transition-delay: 0.0333333333s;}
.wrap .grid .cell:nth-of-type(3) {transition-delay: 0.05s;}
.wrap .grid .cell:nth-of-type(4) {transition-delay: 0.0666666667s;}
.wrap .grid .cell:nth-of-type(5) {transition-delay: 0.0833333333s;}
.wrap .grid .cell:nth-of-type(6) {transition-delay: 0.1s;}
.wrap .grid .cell:nth-of-type(7) {transition-delay: 0.1166666667s;}
.wrap .grid .cell:nth-of-type(8) {transition-delay: 0.1333333333s;}
.wrap .grid .cell:nth-of-type(9) {transition-delay: 0.15s;}
.wrap .grid .cell:nth-of-type(10) {transition-delay: 0.1666666667s;}
.wrap .grid .cell:nth-of-type(11) {transition-delay: 0.1833333333s;}
.wrap .grid .cell:nth-of-type(12) {transition-delay: 0.2s;}
.wrap .grid .cell:nth-of-type(13) {transition-delay: 0.2166666667s;}
.wrap .grid .cell:nth-of-type(14) {transition-delay: 0.2333333333s;}
.wrap .grid .cell:nth-of-type(15) {transition-delay: 0.25s;}
.wrap .grid .cell:nth-of-type(16) {transition-delay: 0.2666666667s;}
.wrap .grid .cell:nth-of-type(17) {transition-delay: 0.2833333333s;}
.wrap .grid .cell:nth-of-type(18) {transition-delay: 0.3s;}
.wrap .grid .cell:nth-of-type(19) {transition-delay: 0.3166666667s;}
.wrap .grid .cell:nth-of-type(20) {transition-delay: 0.3333333333s;}
.wrap .grid .cell:nth-of-type(21) {transition-delay: 0.35s;}
.wrap .grid .cell:nth-of-type(22) {transition-delay: 0.3666666667s;}
.wrap .grid .cell:nth-of-type(23) {transition-delay: 0.3833333333s;}
.wrap .grid .cell:nth-of-type(24) {transition-delay: 0.4s;}
.wrap .grid .cell:nth-of-type(25) {transition-delay: 0.4166666667s;}
.wrap .grid .cell:nth-of-type(26) {transition-delay: 0.4333333333s;}
.wrap .grid .cell:nth-of-type(27) {transition-delay: 0.45s;}
.wrap .grid .cell:nth-of-type(28) {transition-delay: 0.4666666667s;}
.wrap .grid .cell:nth-of-type(29) {transition-delay: 0.4833333333s;}
.wrap .grid .cell:nth-of-type(30) {transition-delay: 0.5s;}
.wrap .grid .cell:nth-of-type(31) {transition-delay: 0.5166666667s;}
.wrap .grid .cell:nth-of-type(32) {transition-delay: 0.5333333333s;}
.wrap .grid .cell:nth-of-type(33) {transition-delay: 0.55s;}
.wrap .grid .cell:nth-of-type(34) {transition-delay: 0.5666666667s;}
.wrap .grid .cell:nth-of-type(35) {transition-delay: 0.5833333333s;}
.wrap .grid .cell:nth-of-type(36) {transition-delay: 0.6s;}
.wrap .grid .cell:nth-of-type(37) {transition-delay: 0.6166666667s;}
.wrap .grid .cell:nth-of-type(38) {transition-delay: 0.6333333333s;}
.wrap .grid .cell:nth-of-type(39) {transition-delay: 0.65s;}
.wrap .grid .cell:nth-of-type(40) {transition-delay: 0.6666666667s;}
.wrap .grid .cell:nth-of-type(41) {transition-delay: 0.6833333333s;}
.wrap .grid .cell:nth-of-type(42) {transition-delay: 0.7s;}
.wrap .grid .cell:nth-of-type(43) {transition-delay: 0.7166666667s;}
.wrap .grid .cell:nth-of-type(44) {transition-delay: 0.7333333333s;}
.wrap .grid .cell:nth-of-type(45) {transition-delay: 0.75s;}
.wrap .grid .cell:nth-of-type(46) {transition-delay: 0.7666666667s;}
.wrap .grid .cell:nth-of-type(47) {transition-delay: 0.7833333333s;}
.wrap .grid .cell:nth-of-type(48) {transition-delay: 0.8s;}
.wrap .grid .cell:nth-of-type(49) {transition-delay: 0.8166666667s;}
.wrap .grid .cell:nth-of-type(50) {transition-delay: 0.8333333333s;}
.wrap .grid .cell:nth-of-type(51) {transition-delay: 0.85s;}
.wrap .grid .cell:nth-of-type(52) {transition-delay: 0.8666666667s;}
.wrap .grid .cell:nth-of-type(53) {transition-delay: 0.8833333333s;}
.wrap .grid .cell:nth-of-type(54) {transition-delay: 0.9s;}
.wrap .grid .cell:nth-of-type(55) {transition-delay: 0.9166666667s;}
.wrap .grid .cell:nth-of-type(56) {transition-delay: 0.9333333333s;}
.wrap .grid .cell:nth-of-type(57) {transition-delay: 0.95s;}
.wrap .grid .cell:nth-of-type(58) {transition-delay: 0.9666666667s;}
.wrap .grid .cell:nth-of-type(59) {transition-delay: 0.9833333333s;}
.wrap .grid .cell:nth-of-type(60) {transition-delay: 1s;}
.wrap .grid .cell:nth-of-type(61) {transition-delay: 1.0166666667s;}
.wrap .grid .cell:nth-of-type(62) {transition-delay: 1.0333333333s;}
.wrap .grid .cell:nth-of-type(63) {transition-delay: 1.05s;}
.wrap .grid .cell:nth-of-type(64) {transition-delay: 1.0666666667s;}
#top_main .wrap .grid .cell.class1:before, #top_main .wrap .grid .cell.class4:before,#top_main .wrap .grid .cell.class8:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 15px #d0e0f0;
  background: repeating-linear-gradient(to bottom, #cba, #baa 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), repeating-linear-gradient(to right, #bcb, #bcb 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #bcb 15px, #bcb 20px), #888;
  background-position: 50% 10px;
	animation:windows1 2.5s linear infinite;
}
@keyframes windows1 {
	0%{background: repeating-linear-gradient(to bottom, #cba, #baa 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), repeating-linear-gradient(to right, #bcb, #bcb 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #bcb 15px, #bcb 20px), #888;}
	100%{background: repeating-linear-gradient(to bottom, #cba, #baa 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), repeating-linear-gradient(to right, #bcb, #bcb 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #bcb 15px, #bcb 20px), #fff;}
}
#top_main .wrap .grid .cell.class1:after,#top_main .wrap .grid .cell.class4:after,#top_main .wrap .grid .cell.class8:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 15px #d0e0f0;
  background: repeating-linear-gradient(to bottom, #baa, #baa 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #cca 15px, #cca 20px), repeating-linear-gradient(to left, #cbb, #cbb 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), #978;
  background-position: 20px 50%;
	animation:windows2 2.5s linear infinite;
}
@keyframes windows2 {
	0%{background: repeating-linear-gradient(to bottom, #baa, #baa 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #cca 15px, #cca 20px), repeating-linear-gradient(to left, #cbb, #cbb 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), #978;}
	100%{background: repeating-linear-gradient(to bottom, #baa, #baa 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #cca 15px, #cca 20px), repeating-linear-gradient(to left, #cbb, #cbb 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), #fff;}
}
#top_main .wrap .grid .cell.class2:before, #top_main .wrap .grid .cell.class5:before,#top_main .wrap .grid .cell.class7:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 15px #d0f0f0;
  background: repeating-linear-gradient(to bottom, #bbb, #bbb 2px, rgba(255, 255, 255, 0.0001) 2px, rgba(255, 255, 255, 0.0001) 4px, #bbb 4px, #bbb 6px), #999;
}
#top_main .wrap .grid .cell.class2:after,#top_main .wrap .grid .cell.class5:after,#top_main .wrap .grid .cell.class7:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 15px #d0f0f0;
  background: repeating-linear-gradient(to right, #bbb, #bbb 2px, rgba(255, 255, 255, 0.0001) 2px, rgba(255, 255, 255, 0.0001) 4px, #bbb 4px, #bbb 6px), #888;
}
#top_main .wrap .grid .cell.class9:before,#top_main .wrap .grid .cell.class6:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 15px #d0e0e0;
  background: repeating-linear-gradient(to right, #cca, #cca 2px, rgba(255, 255, 255, 0.0001) 2px, rgba(255, 255, 255, 0.0001) 8px, #cca 8px, #cca 10px), #999;
	animation:windows3 2.5s linear infinite;
}
@keyframes windows3 {
	0%{background: repeating-linear-gradient(to right, #cca, #cca 2px, rgba(255, 255, 255, 0.0001) 2px, rgba(255, 255, 255, 0.0001) 8px, #cca 8px, #cca 10px), #999;}
	100%{background: repeating-linear-gradient(to right, #cca, #cca 2px, rgba(255, 255, 255, 0.0001) 2px, rgba(255, 255, 255, 0.0001) 8px, #cca 8px, #cca 10px), #00ffff;}
}
#top_main .wrap .grid .cell.class9:after,#top_main .wrap .grid .cell.class6:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 15px #d0e0e0;
  background: repeating-linear-gradient(to bottom, #ccc, #ccc 2px, rgba(255, 255, 255, 0.0001) 2px, rgba(255, 255, 255, 0.0001) 8px, #ccc 8px, #ccc 10px), #888;
}
#top_main .wrap .grid .cell.class10:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  background: radial-gradient(circle at left, #ccc, #ccc 10px, rgba(255, 255, 255, 0.0001) 10px), linear-gradient(to bottom, #ccc calc(50% - 10px), #ccc calc(50% - 10px), #ccc calc(50% + 10px), #ccc calc(50% + 10px)), #ccc;
  background-position: 15px 50%, 0% 0%, 50%;
  background-size: 100% 100%, 15px 100%, 100%;
  background-repeat: no-repeat;
	animation:windows4 2.5s linear infinite;
}
@keyframes windows4 {
	0%{background: radial-gradient(circle at left, #ccc, #ccc 10px, rgba(255, 255, 255, 0.0001) 10px), linear-gradient(to bottom, #ccc calc(50% - 10px), #ccc calc(50% - 10px), #ccc calc(50% + 10px), #ccc calc(50% + 10px)), #ccc;}
	100%{background: radial-gradient(circle at left, #ccc, #ccc 10px, rgba(255, 255, 255, 0.0001) 10px), linear-gradient(to bottom, #ccc calc(50% - 10px), #ccc calc(50% - 10px), #ccc calc(50% + 10px), #ccc calc(50% + 10px)), #00ffff;}
}
#top_main .wrap .grid .cell.class3:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 15px #d0e0e0;
  background: repeating-linear-gradient(to bottom, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 20px, #ccc 20px, #ccc 30px), repeating-linear-gradient(to right, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), #888;
  background-position: 50% 10px;
	animation:windows5 2.5s linear infinite;
}
@keyframes windows5 {
	0%{background: repeating-linear-gradient(to bottom, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 20px, #ccc 20px, #ccc 30px), repeating-linear-gradient(to right, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), #888;}
	100%{background: repeating-linear-gradient(to bottom, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 20px, #ccc 20px, #ccc 30px), repeating-linear-gradient(to right, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), #fff;}
}
#top_main .wrap .grid .cell.class3:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 15px #d0e0e0;
	background: repeating-linear-gradient(to bottom, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), repeating-linear-gradient(to left, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), #888;
  background-position: 20px 50%;
	animation:windows6 2.5s linear infinite;
}
@keyframes windows6 {
	0%{background: repeating-linear-gradient(to bottom, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), repeating-linear-gradient(to left, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), #888;}
	100%{background: repeating-linear-gradient(to bottom, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), repeating-linear-gradient(to left, #ccc, #ccc 5px, rgba(255, 255, 255, 0.0001) 5px, rgba(255, 255, 255, 0.0001) 15px, #ccc 15px, #ccc 20px), #ffffbb;}
}
#top_main .wrap .grid .cell:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: var(--height);
  background: #dcc;/**/
  box-shadow: inherit;
  transform-origin: bottom;
  transform: rotateX(90deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#top_main .wrap .grid .cell:after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: calc(var(--height) * -1);
  height: 100%;
  width: var(--height);
  background: #dbb;
  box-shadow: inherit;
  transform-origin: right;
  transform: rotateY(-90deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media all and (max-width:1400px){
  #top_main .wrap {
    width:100%;
    max-width: 240px;
    height:100%;
    max-height:240px;
    position: relative;
    transform: translateY(50px) translateX(50px) rotateX(75deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}
@media all and (max-width:545px){
	#top_main{
		padding-bottom:255px;
	}
	#top_main .wrap {
	  position: relative;
	  transform: translateY(100px) translateX(45px) rotateX(75deg);
	}
	#top_main .wrap .grid {
		box-shadow: 0 0 0 210vw #010033, inset 0 0 0 210vw #010033;
	}
	.wrap .grid .cell:nth-of-type(1) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(2) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(3) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(4) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(5) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(6) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(7) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(8) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(9) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(0) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(10) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(11) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(12) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(13) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(14) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(15) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(16) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(17) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(18) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(19) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(20) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(21) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(22) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(23) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(24) {display:none;opacity:0;}
	.wrap .grid .cell:nth-of-type(25) {display:none;opacity:0;}
}
@media all and (max-width:420px){
	#top_main{padding-bottom:265px;}
	#top_main .wrap{height:40%;
		transform: translateY(170px) translateX(45px) rotateX(75deg);
	}
}
@media all and (max-width:330px){
	#top_main{padding-bottom:245px;}
	#top_main .wrap{transform: translateY(160px) translateX(90px) rotateX(75deg);}
}
/**/
/**/
/**/
#top_main {
	position: relative;
	overflow: hidden;
	height: 100vh;
	background: #e2f8ff;
}
#top_main > .image {
	font-size: 10px;
	overflow: hidden;
	width: 100%;
	height: 0;
	padding: 59.6125% 0 0;
}
#top_main > .image::after {
	position: absolute;
	z-index: 3;
	top: 22.5%;
	left: 14.6%;
	display: block;
	width: 6.5583%;
	height: 0;
	padding: 2.9810% 0 0;
	content: "";
}
#top_main > .image * {
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
}
#top_main >  .background {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: auto;
	min-width: 500%;
	height: auto;
	min-height: 500%;
	-webkit-transform: translate3d(-50%, -50%, 0) scale(.2);
	        transform: translate3d(-50%, -50%, 0) scale(.2);
}
#top_main > .image .windpowers {
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
#top_main > .image .windpowers > div {
	top: 22.6%;
	width: .44716%;
	height: 0;
	padding: 4.0244% 0 0;
	-webkit-transform: translate3d(-50%, -100%, 0);
	        transform: translate3d(-50%, -100%, 0);
	background: url(../image/windmill_pole.png) no-repeat;
	background-size: auto 100%;
}
#top_main > .image .windpowers > div::after {
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	width: 1000%;
	height: 0;
	padding: 1000% 0 0;
	content: "";
	-webkit-transform: translate3d(-50%, -50%, 0);
	        transform: translate3d(-50%, -50%, 0);
	-webkit-animation: top_main-windmill steps(120, start) infinite;
	        animation: top_main-windmill steps(120, start) infinite;
	background: url(../image/windmill_wing.png) no-repeat;
	background-size: contain;
}

#top_main > .image .windpowers > .b {left: 23.2%;}
#top_main > .image .windpowers > .c {left: 28%;}
#top_main > .image .windpowers > .d {top: 22.8%;left: 32.1%;}
#top_main > .image .windpowers > .e {left: 36.7%;}
#top_main > .image .windpowers > .a::after {
	-webkit-animation-duration: 12.1s;
	        animation-duration: 12.1s;
	-webkit-animation-delay: -.5s;
	        animation-delay: -.5s;
}
#top_main > .image .windpowers > .b::after {
	-webkit-animation-duration: 9.8s;
	        animation-duration: 9.8s;
	-webkit-animation-delay: -1.2s;
	        animation-delay: -1.2s;
}
#top_main > .image .windpowers > .c::after {
	-webkit-animation-duration: 11.8s;
	        animation-duration: 11.8s;
	-webkit-animation-delay: -.2s;
	        animation-delay: -.2s;
}
#top_main > .image .windpowers > .d::after {
	-webkit-animation-duration: 10.8s;
	        animation-duration: 10.8s;
	-webkit-animation-delay: -1.5s;
	        animation-delay: -1.5s;
}
#top_main > .image .windpowers > .e::after {
	-webkit-animation-duration: 9.4s;
	        animation-duration: 9.4s;
	-webkit-animation-delay: -.8s;
	        animation-delay: -.8s;
}

#top_main > .image .trains {
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top:-120px;
	overflow: hidden;
}
#top_main > .image .trains::before, #top_main > .image .trains::after {
	position: absolute;
	z-index: 9999;
	display: block;
	height: 0;
	content: "";
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	background-size: 100% auto;
}
#top_main > .image .trains::before {
	top: 41.25%;
	left: 0;
	overflow: hidden;
	width: 6.2453%;
	padding: 7.0949% 0 0;
	background-image: url();
}
#top_main > .image .trains::after {
	top: 57.95%;
	left: 40.8%;
	overflow: hidden;
	width: 9.3605%;
	padding: 5.0529% 0 0;
	background-image: url();
}
#top_main > .image .trains > div {
	top: -100%;
	left: -100%;
	overflow: hidden;
	width: 7.4526755%;
	height: 0;
	padding: 7.4526755% 0 0;
	-webkit-transform: translate3d(-50%, -50%, 0);
	        transform: translate3d(-50%, -50%, 0);
	background-size: 1000% auto;
}
#top_main > .image .trains > .back {background-image: url(../image/train_back.png);}
#top_main > .image .trains > .middle {background-image: url(../image/train_middle.png);}
#top_main > .image .trains > .front {background-image: url(../image/train_front.png);}
#top_main > .image .airplane {
	z-index: 1;
	top: 9%;
	left: 0;
	overflow: hidden;
	width: 7.452675%;
	width: 5%;
	height: 0;
	padding: 3.7263% 0 0;
	padding: 2.5% 0 0;
	-webkit-transform: translate3d(-100%, -50%, 0);
	        transform: translate3d(-100%, -50%, 0);
	-webkit-animation: top_main-airplane 30s steps(750, start) 0s infinite;
	        animation: top_main-airplane 30s steps(750, start) 0s infinite;
	background-image: url(../image/airplane.png);
	background-size: contain;
}

@-webkit-keyframes top_main-windmill {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
		        transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
		        transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}
@keyframes top_main-windmill {
	0% {
		-webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
		        transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		-webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
		        transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}
@-webkit-keyframes top_main-airplane {
	0% {left:150%;}
	100% {left: 0%;}
}
@keyframes top_main-airplane {
	0% {left:150%;}
	100% {left: 0%;}
}
#top_main {
}
#top_main > .image {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	-webkit-transform: translate3d(-50%, -50%, 0);
	        transform: translate3d(-50%, -50%, 0);
	-webkit-transform-origin: 50% 10%;
	    -ms-transform-origin: 50% 10%;
	        transform-origin: 50% 10%;
}
.js-imgWider #top_main > .image {
	top: 55%;
	top: 0;
	left: 0;
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
}

/**/
/**/
/**/

@media screen and (min-width: 1141px) {
	/*#top_main > .image, #top_main > .image::after, #top_main > .image .windmills > div::after, #top_main > .image .tanker, #top_main > .image .trains::before, #top_main > .image .trains::after {
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
		image-rendering: -webkit-optimize-contrast;
	}*/
}
@media (orientation: landscape) and (max-width:845px){
	#top_main {
		padding-bottom:150px;
	}
}
@media (orientation:portrait) and (max-width:545px){
	#top_main {
		padding-bottom:0;
	}
}
