html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
}

svg {
  width: 20%;
  max-height: 20%;
  margin-top: 0px;
  padding-top:-150px;
}
